<div class="container">
  <div class="container__about-us">
    <h2>About us</h2>
    <p>
      At Hot Coffee, we're passionate about brewing more than just great coffee; we're crafting experiences. Nestled in the heart of England, our cozy café is a haven for coffee enthusiasts and casual drinkers alike.
      <br>
      Our journey began with a simple mission: to serve up the finest blends of coffee beans from around the world, roasted to perfection. But it's more than just the coffee that sets us apart; it's the warmth of our service and the inviting ambiance that keeps our customers coming back.
    </p>
  </div>

  <div class="container__links">

    <div class="useful-links">
      <h2>Useful Links</h2>
      <ul>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div class="contact">
      <h2>Contact</h2>
      <ul>
        <li>hotcoffe&#64;email.com</li>
        <li>+225 0000-1111</li>
        <li>123 Main Street - Springfield, Anytown</li>
      </ul>
    </div>

  </div>
</div>
