<div class="container">

  <div class="container__title">
    <h1>Featured items</h1>
    <p>Our items here!</p>
  </div>

  <div class="container__items">

    <app-cards class="items" title="Titulo1" text="Texto1"></app-cards>
    <app-cards class="items" title="Titulo2" text="Texto2"></app-cards>
    <app-cards class="items" title="Titulo3" text="Texto3"></app-cards>
    <app-cards class="items" title="Titulo4" text="Texto4"></app-cards>
    <app-cards class="items" title="Titulo5" text="Texto5"></app-cards>
    <app-cards class="items" title="Titulo6" text="Texto6"></app-cards>
    <app-cards class="items" title="Titulo7" text="Texto7"></app-cards>
    <app-cards class="items" title="Titulo8" text="Texto8"></app-cards>

  </div>

</div>
