@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f8f9fa;
  font-family: "Titan One", sans-serif;
}

.container__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
}

.items {
  margin: 2em;
}

.container__title {
  margin-top: 2em;
  text-align: center;
}
