<div class="container">

  <div class="container__title">
    <h1>Featured items</h1>
    <p>Our items here!</p>
  </div>

  <div class="container__items">

    <app-cards class="items" title="Cinnamon Coffe" text="A delicious hot coffee, with a generous amount of cinnamon powder." img="https://img.freepik.com/fotos-gratis/vista-frontal-cafe-junto-com-canela-e-sementes-de-cafe-no-chao-de-madeira-marrom_140725-14373.jpg?w=826&t=st=1712195379~exp=1712195979~hmac=fa49564c528336405dfd9112b770446a105ba154e0e565953e8e8c5166e6e09d"></app-cards>
    <app-cards class="items" title="Capuccino" text="A tradicional Capuccino coffee" img="https://img.freepik.com/fotos-gratis/xicara-de-cafe-com-leite-na-mesa_141793-1710.jpg?w=1380&t=st=1712195384~exp=1712195984~hmac=45fe0014e5f5dbd810f11b96b25860b85a8fc09958d179967c159fab90fc5f02"></app-cards>
    <app-cards class="items" title="Chocolate Coffee" text="A traditional hot coffee with some chocolate. " img="https://img.freepik.com/fotos-gratis/vista-alta-xicara-de-cafe-delicioso_23-2148254974.jpg?w=740&t=st=1712196487~exp=1712197087~hmac=5cb92bec91f797f74c37fd99ede61fb037bc770035c0972beda39eafe1842e67"></app-cards>
    <app-cards class="items" title="Double Shot" text="Double Shot espreso coffee" img="https://img.freepik.com/fotos-gratis/cafe-expresso-em-uma-xicara-de-ceramica-branca-close-up-foco-seletivo-uma-gota-de-cafe-cai-da-cafeteira-na-xicara-cafe-aromatico-italiano-no-cafe-da-manha_166373-1975.jpg?w=1380&t=st=1712196593~exp=1712197193~hmac=5b8b860f570de3d3a4b0e67161e4e0e22cc360700caed34ab4c534cb76298870"></app-cards>
    <app-cards class="items" title="Cinnamilk" text="A hot coffe with cinnamon powder and hot milk" img="https://img.freepik.com/fotos-gratis/vista-alta-xicara-de-cafe-com-cacau-em-po_23-2148254968.jpg?w=740&t=st=1712196485~exp=1712197085~hmac=f5d50b10ad4bdf3d548df7a1ca2718241d5eacd96503b9ae6ca261c76046fd76"></app-cards>
    <app-cards class="items" title="Coffelatto" text="A coffe with ice cream." img="https://img.freepik.com/fotos-gratis/vista-lateral-com-leite-com-graos-de-cafe-no-jornal-velho_176474-3135.jpg?w=826&t=st=1712196596~exp=1712197196~hmac=42ae6a50ff86e6930f6200f2ff5ff0e55bd9b94db64b505f978cd2d49ef7cbcb"></app-cards>

    <!-- <app-cards class="items" title="Titulo7" text="Texto7" img=""></app-cards> -->

  </div>

</div>
