@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Titan+One&display=swap');

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20vw;
  border-radius: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em;
  font-family: "Indie Flower", cursive;
}

.container__img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.container__text p {
  width: 80%;
  text-align: justify;
}
